<div class="page-header">
  <div class="header-content">
    <div class="header-text">
      @if (showBackButton()) {
        <button
          pButton
          type="button"
          icon="pi pi-arrow-left"
          class="p-button-text p-button-rounded back-btn"
        ></button>
      }
      <div>
        <h1 class="title">{{ title() | translate }}</h1>
        @if (subtitle()) {
          <p class="subtitle">{{ subtitle() | translate }}</p>
        }
      </div>
    </div>
    <div class="header-actions">
      <ng-content select="[actions]"></ng-content>
    </div>
  </div>
</div>
